ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.ol {
  display: flex;
  color: #444;
  border: #999;
  line-height: 1;
}
.li {
  display: flex;
}

.span {
  margin-right: 10px;
  margin-left: 10px;
}

.a {
  color: rgb(43, 43, 152);
}

.a:hover {
  color: rgb(97, 97, 220);
}
