/* spinner */
.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #2d4373; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spinner 2s linear infinite;
}

.s_spinner {
  position: absolute;
  border: 2px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  width: 13px;
  height: 13px;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
